#global{
    -fx-background-color: #f7f7f7;
}

#tool-bar{
    -fx-background-color: white;
    -fx-padding: 10px 0px 2px 10px;
    -fx-border-color: #2ab27b;
    -fx-border-width: 0px 0px 1px 0px;
}

#footer{
    -fx-background-color: white;
    -fx-border-color: #d1d1d1;
}

#button-row{
    -fx-padding: 0px 0px 0px 40px;
}

#footer-icons{
    -fx-padding: 5px 0px 5px 20px;
}

#footer-others{
    -fx-padding: 5px 40px 5px 0px;
}

.footer-other-button{
    -fx-padding: 0px;
    -fx-background-color: none;
    -fx-text-fill: #1c6f4b;
}


.menu-button{
    -fx-min-height: 80px;
    -fx-background-color: white;
    -fx-border-width: 1px;
    /*-fx-border-color: black;*/
    -fx-max-width: 90px;
    -fx-text-fill: #353535;
    -fx-border-color: #ececec;
    -fx-border-width: 0px 1px 0px 0px;

}

#home-grid{
    -fx-padding: 40px 30px 10px 30px;
}

.home-boxes{
    -fx-background-color: white;
    -fx-border-color: #2ab27b;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-max-height: 300px;
    -fx-min-height:300px;
}

.home-boxes-content{
    -fx-padding: 20px ;
    -fx-border-color: #e6e6e6;
    -fx-border-width: 1px 1px 0px 1px;
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0px 0px 0px 0px;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}
.green-button-theme{
    -fx-text-fill: white;
    -fx-background-color: #2ab27b;
    -fx-font-size: 18px;
    -fx-effect: dropshadow(three-pass-box, #228e62, 0, 0, 0, 3);
    -fx-font-family: sans-serif;
}

.green-button-theme:pressed{
    -fx-background-color: #21966a;
}


.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}
.text-area *{
    -fx-cursor: default;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}

.home-boxes .text-area,.text-area*{
    -fx-background-color: none;
    -fx-border-width: 0px;
    -fx-min-height: 0px;
    -fx-text-alignment: center;
    -fx-padding: 0px;
}

.home-boxes .text-area *.text {
    -fx-text-alignment: center;
}


